/cache
/output
/.idea
build.sh
*.bat
*.psd
test/
npm-debug.log
router.sublime-project
router.sublime-workspace
output.zip
.DS_Store
.swp

.DS_Store
artifacts/
bower_components/
build/
coverage/
node_modules/
release/